div.card {
	background-color: #f7f7f7;
	margin-bottom: 10px;
	.card-header {
		width: 100%;
		background-color: #ccc;
		padding: 5px 10px;
	}
	.card-container {
		padding: 5px 10px;
	}
	&:after {
		content: '';
    display: block;
    clear: both;
	}
}