<!DOCTYPE html>
<html>
<head>
  <title>AccountAuthorization</title>
  <%= stylesheet_link_tag    "account_authorization/application", media: "all" %>
  <%= javascript_include_tag "account_authorization/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
